/* generic */

div,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,table{ margin:0; padding:0; }
input,form,h2,h1 { display:inline; }
body { font-family:'Lucida Grande', 'Courier'; font-size:12px; line-height:16px; color:#000; background:#fff;}
p {font-family:'Lucida Grande', 'Courier'; font-size:12px; }

a { color:#cc0000; text-decoration:none; }
a:visited { color:#cc0000; }

h1 { font-size: 34px; font-weight:normal; line-height:34px; }
h2 { font-size: 20px; font-weight:normal; line-height:20px;}
h3 { font-size: 16px; font-weight:normal; }
hr { border:1px #aaa solid; height:1; }

/* main page elements */

.page_title_holder { color:#000; font-size:22px; background:#700; line-height:22px; padding:3 0 5 0; margin:0 0 0 -1000; width:1550; }
.page_content_holder { width:600; text-align:justify; }

.back_link { text-align:right; }
.update { text-align:right; }
.favourite_artists_save_button { text-align:right; }
.favourite_artist { background-color:#ccccff; }

table { }
td { font-family:'Lucida Grande', 'Courier'; font-size:12px; padding:2px; }
.score { padding: 2px 2px 2px 0; }

.header_container { border-bottom:1px solid black; padding-bottom:2px; width:600; }
.nav_container { border-bottom:1px solid black; padding-bottom:2px; width:600; }
.nav_words { text-align:right; }
.main_title { margin-left:auto; margin-right:auto; width:200; }
.main_title:visited { color:#000; }
.main_title:hover { color:#000; }
.sub_title { margin-left:auto; margin-right:auto; width:250; }
.sub_title:visited { color:#000; }
.sub_title:hover { color:#000; }

.footer { border-top:1px solid black; padding-top:2px; width:600; text-align:right; }

.field_title { vertical-align:middle; }
.form_div { display:inline; }

.flash { background-color:#FFFF66; }
.flash_container { margin-left:auto; margin-right:auto; width:550; text-align:right; }
.error { color: #FF0000; }
.valid { color: #00FF00; }

.admin_link { font-size: 12px; vertical-align:top; }

LI.commit { list-style:katakana-iroha; margin:0 0 0 -10; } 

/* forms */

.text_field {font-family:'Lucida Grande', 'Courier';  margin:3 0 0 0;  border:1px solid #000; padding:2px 2px 2px 3px; font-size:12px; }
.submit_button { border: 1px solid #000; margin:5 0 0 0; font-size:12px;font-family:'Lucida Grande', 'Courier'; background:#FFF; color:#000; cursor:pointer; padding:1px 2px 1px 2px; }
textarea { border: 1px solid #000; width:296; font-size: 12px; font-family:'Lucida Grande', 'Courier'; margin:4 0 0 0; padding:2; }

.SI-FILES-STYLIZED label.cabinet { display:inline; width: 150px; height:24px; background: url('/images/file_field_button.gif') 0 0 no-repeat; display:block; overflow:hidden; cursor:pointer; }
.SI-FILES-STYLIZED label.cabinet input.file { display:inline; position:relative; height:100%; width:auto; opacity:0; -moz-opacity:0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

.inactive_preloaded_field { color: #666; }
.active_preloaded_field { color: #000; }
 
/* admin */
.admin_table { border:1px solid #666; }
.admin_table_td { border: 1px solid #666; padding:5px; vertical-align:top; font-size:12px; }
.stats_description { width:120; float:left; text-align:left; }
.stats_data { width: 280; float:right; text-align:left; }