<div class="header_container">
	<div class="header">
		<div class="main_title"><h1><a href='/'>Film Ranker</a></h1></div>
	</div>
</div>

<div class="nav_container">
	<div class="nav_words">
		<a href='/'>home</a>&nbsp;&nbsp;
		<a href='/about'>about</a>
	</div>
</div>